---
import type { GetStaticPaths, MarkdownHeading } from "astro";
import { blog_posts_map, type BlogPost } from "../../utils.astro";
import TableOfContents from "../../components/TableOfContents.astro";
import ContactFooter from "../../components/ContactFooter.astro";
import PageLayout from "../../layouts/PageLayout.astro";

export const getStaticPaths = (() => {
    return blog_posts_map
        .keys()
        .map((uri) => {
            return {
                params: {
                    uri,
                },
            };
        })
        .toArray();
}) satisfies GetStaticPaths;

const { uri } = Astro.params;
const post: BlogPost = blog_posts_map.get(uri)!;

type Headings = {
    md: MarkdownHeading;
    children: Headings[];
    prev: Headings | null;
};

let root: Headings = {
    md: {
        text: "",
        depth: 1,
        slug: "",
    },
    children: [],
    prev: null,
};

let current = root;

let current_depth = 1;

for (const h of post.getHeadings()) {
    let self = {
        md: h,
        children: [],
        prev: current,
    };

    while (h.depth < current_depth) {
        const prev = current.prev;
        if (prev != null) {
            current = prev;
            current_depth -= 1;
        } else {
            break;
        }
    }

    while (h.depth > current_depth) {
        const last_child = current.children.at(-1);
        if (last_child != null) {
            current = last_child;
            current_depth += 1;
        } else {
            break;
        }
    }

    current.children.push(self);
    current_depth = h.depth;
}

let headings = root.children;
---

<PageLayout title={post.title}>
    <h1>{post.title}</h1>
    <ul>
        {headings.map((h) => <TableOfContents node={h} />)}
    </ul>
    <div set:html={post.getContent()} />
    <ContactFooter />
</PageLayout>
