---
import Layout from "../layouts/Layout.astro";
import UserAbout from "../components/UserAbout.astro";
import Languages from "../components/Languages.astro";
import Projects, { type ProjectsT } from "../components/Projects.astro";
import Socials from "../components/Socials.astro";
import Specs from "../components/Specs.astro";

const projects: ProjectsT = [
    [
        "SafaOS/SafaOS",
        "A cute general-purpose hobby operating system written from scratch.",
        "/imgs/SafaOS-small.png",
    ],
    ["safiworks/Zhip8Emu", "A WIP chip8 emulator.", "/imgs/zhip8emu-small.png"],
];

const nootable_projects: ProjectsT = [
    [
        "safiworks/CrabLauncher",
        "A minecraft launcher written in Rust.",
        "https://rustacean.net/assets/rustacean-flat-happy.svg",
        ["top_language", "stars"],
    ],
];

const specs = [
    ["Shell", "fish", "fa-solid fa-terminal", "https://fishshell.com/"],
    ["OS", "CachyOS", "fa-solid fa-floppy-disk", "https://cachyos.org/"],
    ["WM", "Hyprland", "fa-solid fa-window-restore", "https://hyprland.org/"],
    [
        "Dotfiles",
        "dotfiles",
        "fa-brands fa-github",
        "https://github.com/safiworks/dotfiles",
    ],
    ["Code Editor", "Zed", "fa-solid fa-code", "https://zed.dev/"],
];
---

<Layout>
    <UserAbout />
    <section>
        <h1>Languages</h1>
        <p>
            Programming languages that I currently have public projects written
            in
        </p>
        <Languages />
    </section>
    <section>
        <h1>Projects</h1>
        <p>
            My current public projects, sorted by best from left to right and
            top to bottom
        </p>
        <Projects projects={projects} />
    </section>
    <section>
        <h1>Notable Projects</h1>
        <p>My projects that's development was paused, archived or abandoned.</p>
        <Projects projects={nootable_projects} />
    </section>
    <section>
        <h1>Specs</h1>
        <Specs specs={specs} />
    </section>
    <section>
        <h1>Socials</h1>
        <p>My socials & methods to contact me</p>
        <Socials />
    </section>
</Layout>

<style>
    section h1 {
        padding-top: 1rem;
        font-size: 2rem;
    }
</style>
