---

---

<div class="footer">
    <p>Have any questions? feel free to contact me at:</p>
    <ul>
        <li>
            my discord:
            <a class="contact-link" href="https://discord.com/users/safiworks"
                >@safiworks<a></a>
            </a>
        </li>
        <li>
            my email:
            <a class="contact-link" href="mailto:safiworks0@gmail.com"
                >safiworks0@gmail.com</a
            >
        </li>
    </ul>
</div>

<style>
    .footer {
        margin-top: 3rem;
        border-top: 1px solid wheat;
        font-style: italic;
    }
    .contact-link {
        text-decoration: underline;
        font-style: normal;
        font-weight: bold;
    }
</style>
