---
import LanguageCard from "../components/LanguageCard.astro";
const languages_raw: [string, string, string, string][] = [
    [
        "Rust",
        "my go-to programming language.",
        "https://www.rust-lang.org/logos/rust-logo-128x128-blk.png",
        "https://www.rust-lang.org/",
    ],
    [
        "Zig",
        "my second favorite programming language.",
        "https://raw.githubusercontent.com/ziglang/logo/refs/heads/master/zig-mark.svg",
        "https://ziglang.org/",
    ],
    [
        "TypeScript",
        "this website is powered by it!",
        "https://raw.githubusercontent.com/remojansen/logo.ts/refs/heads/master/ts.svg",
        "https://www.typescriptlang.org/",
    ],
];
---

<div class="language-cards-container">
    {
        languages_raw.map((language) => (
            <LanguageCard
                language_name={language[0]}
                language_description={language[1]}
                language_logo={language[2]}
                language_website={language[3]}
            />
        ))
    }
</div>

<style>
    .language-cards-container {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
    }
</style>
