---
export const bgColor = "#2C3930";
export const textColor = "#DCD7C9";
export const extraColor = "#A27B5C";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Safi</title>
    </head>
    <body>
        <center><slot /></center>
    </body>
</html>

<style define:vars={{ bgColor, textColor }}>
    html,
    body {
        background-color: var(--bgColor);
        color: var(--textColor);
        font-family: sans-serif;
        max-width: 100vw;
        max-height: 100vh;
    }
</style>
